In [1]:
import pandas as pd

In [2]:
cities = pd.Series(['Kazan', 'Moscow', 'Ekb', 'Sochi'])
cities

0     Kazan
1    Moscow
2       Ekb
3     Sochi
dtype: object

In [3]:
y = '!!!'
def strplus(D):
    if 'a' in D:
        return D + y
    else:
        return D
cities.apply(strplus)

0    Kazan!!!
1      Moscow
2         Ekb
3       Sochi
dtype: object

In [4]:
dig = pd.Series([1, 2, 3, 4])
dig

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
dig.apply(lambda x: x + 1 if x % 2 == 0 else x)

0    1
1    3
2    3
3    5
dtype: int64

In [6]:
cities

0     Kazan
1    Moscow
2       Ekb
3     Sochi
dtype: object

In [7]:
cities.apply(lambda x: x + '!!!' if 'a' in x else x)

0    Kazan!!!
1      Moscow
2         Ekb
3       Sochi
dtype: object

In [8]:
def defis(x):
    return '-'.join(x)
    
cities.apply(defis)

0      K-a-z-a-n
1    M-o-s-c-o-w
2          E-k-b
3      S-o-c-h-i
dtype: object

In [33]:
cap_df = pd.read_excel('cap.xlsx')

In [16]:
cap = cap_df[0]

In [34]:
cap.head()

,Unnamed: 0,#,Name,Price,24h %,7d %,Market Cap,Volume(24h),Circulating Supply,Last 7 Days,Unnamed: 10
0,NaN,1.0,Bitcoin1BTCBuy,"$47,229.08",0.34%,10.85%,"$897.23B$897,227,650,621","$33,847,129,797716,659 BTC","18,997,356 BTC",NaN,NaN
1,NaN,2.0,Ethereum2ETHBuy,"$3,393.88",1.06%,12.82%,"$407.81B$407,812,432,230","$21,154,798,5346,233,223 ETH","120,161,193 ETH",NaN,NaN
2,NaN,3.0,Tether3USDT,$1.00,0.01%,0.01%,"$81.58B$81,580,248,060","$84,024,506,77183,982,780,918 USDT","81,539,736,005 USDT",NaN,NaN
3,NaN,4.0,BNB4BNBBuy,$430.85,1.22%,6.04%,"$71.14B$71,140,873,243","$2,036,878,5714,727,561 BNB","165,116,761 BNB",NaN,NaN
4,NaN,5.0,USD Coin5USDC,$0.9997,0.02%,0.01%,"$51.80B$51,795,877,698","$4,822,603,7794,823,959,041 USDC","51,810,433,523 USDC",NaN,NaN

In [39]:
cap

,Unnamed: 0,#,Name,Price,24h %,7d %,Market Cap,Volume(24h),Circulating Supply,Last 7 Days,Unnamed: 10
0,NaN,1.0,Bitcoin1BTCBuy,"$47,229.08",0.34%,10.85%,"$897.23B$897,227,650,621","$33,847,129,797716,659 BTC","18,997,356 BTC",NaN,NaN
1,NaN,2.0,Ethereum2ETHBuy,"$3,393.88",1.06%,12.82%,"$407.81B$407,812,432,230","$21,154,798,5346,233,223 ETH","120,161,193 ETH",NaN,NaN
2,NaN,3.0,Tether3USDT,$1.00,0.01%,0.01%,"$81.58B$81,580,248,060","$84,024,506,77183,982,780,918 USDT","81,539,736,005 USDT",NaN,NaN
3,NaN,4.0,BNB4BNBBuy,$430.85,1.22%,6.04%,"$71.14B$71,140,873,243","$2,036,878,5714,727,561 BNB","165,116,761 BNB",NaN,NaN
4,NaN,5.0,USD Coin5USDC,$0.9997,0.02%,0.01%,"$51.80B$51,795,877,698","$4,822,603,7794,823,959,041 USDC","51,810,433,523 USDC",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,SymbolXYM,$0.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,yearn.financeYFI,$22589.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,QtumQTUM,$8.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,CelsiusCEL,$3.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,BORABORA,$0.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
cap['Price'][1]

'$3,393.88'

In [37]:
cap.iloc[:10 , [2, 3, 5, 7]]

                 Name       Price    7d %                         Volume(24h)
0      Bitcoin1BTCBuy  $47,229.08  10.85%          $33,847,129,797716,659 BTC
1     Ethereum2ETHBuy   $3,393.88  12.82%        $21,154,798,5346,233,223 ETH
2         Tether3USDT       $1.00   0.01%  $84,024,506,77183,982,780,918 USDT
3          BNB4BNBBuy     $430.85   6.04%         $2,036,878,5714,727,561 BNB
4       USD Coin5USDC     $0.9997   0.01%    $4,822,603,7794,823,959,041 USDC
5             XRP6XRP     $0.8532   1.62%     $2,702,989,6483,168,056,047 XRP
6         Cardano7ADA       $1.18  21.35%     $1,965,277,3901,663,683,577 ADA
7       Terra8LUNABuy     $105.20  13.05%       $4,191,629,43139,846,037 LUNA
8       Solana9SOLBuy     $109.54  17.39%        $3,113,738,68528,424,972 SOL
9  Avalanche10AVAXBuy      $91.87   6.21%       $1,911,412,20620,805,949 AVAX