In [2]:
import pandas as pd

In [5]:
raw_data = pd.read_csv('checkins.dat', sep='|', skipinitialspace=True)

C:\Users\maaga\AppData\Local\Temp\ipykernel_12972\2455441405.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv('checkins.dat', sep='|', skipinitialspace=True)

In [6]:
raw_data

,id,user_id,venue_id,latitude,longitude,created_at
0,---------+---------+----------+---------------...,NaN,NaN,NaN,NaN,NaN
1,984301,2041916.0,5222.0,NaN,NaN,2012-04-21 17:39:01
2,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
3,984315,1764391.0,5222.0,NaN,NaN,2012-04-21 17:37:18
4,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
...,...,...,...,...,...,...
1021963,956119,1139114.0,29488.0,42.439479,-83.743830,2012-04-13 11:36:44
1021964,956447,2088020.0,4432.0,NaN,NaN,2012-04-13 12:58:05
1021965,956733,960666.0,60.0,42.331427,-83.045754,2012-04-13 21:56:19
1021966,957139,1771518.0,10935.0,NaN,NaN,2012-04-14 02:44:52
1021967,(1021966 rows),NaN,NaN,NaN,NaN,NaN

In [7]:
data = raw_data.dropna(axis=0, how='any')

In [8]:
data

,id,user_id,venue_id,latitude,longitude,created_at
2,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
4,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
8,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22
10,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
11,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18
...,...,...,...,...,...,...
1021960,955561,626076.0,20073.0,40.850100,-73.866246,2012-04-13 09:56:48
1021961,955892,674797.0,2297.0,33.748995,-84.387982,2012-04-13 10:56:03
1021962,956377,845102.0,11195.0,42.765366,-71.467566,2012-04-13 12:08:45
1021963,956119,1139114.0,29488.0,42.439479,-83.743830,2012-04-13 11:36:44
1021965,956733,960666.0,60.0,42.331427,-83.045754,2012-04-13 21:56:19

In [9]:
data.columns

Index(['id    ', 'user_id ', 'venue_id ', 'latitude      ', 'longitude     ',
       'created_at      '],
      dtype='object')

In [10]:
data = data.rename(columns = {
    "id    ":"id", "user_id ":"user_id", "venue_id ":"venue_id", "latitude      ":"latitude", 
    "longitude     ":"longitude", "created_at      ":"created_at" 
})

In [11]:
data.columns

Index(['id', 'user_id', 'venue_id', 'latitude', 'longitude', 'created_at'], dtype='object')

In [12]:
X = data[['latitude', 'longitude']]

In [21]:
X = X[:100000]

In [22]:
from sklearn import cluster

In [23]:
ms = cluster.MeanShift(bandwidth=0.1, n_jobs=-1)

In [24]:
ms.fit(X)

MeanShift(bandwidth=0.1, n_jobs=-1)